<h1>Create a New Recipe!</h1>

<form action="/recipes" method="post">
    <label>Recipe Name: <input type="text" id="name" name="name"><br></label>
    <label>Recipe Ingredients: <input type="text" id="ingredients" name="ingredients"><br></label>
    <label>Recipe Cook Time: <input type="text" id="cook_time" name="cook_time"><br><br></label>
    <input type="submit" value="Submit Recipe">
</form> 
